body{
    background-color: #34495e;
}
h1{
    color: white
}

.clicked{
    color : #7f8c8d;
}

.btn{
    cursor: pointer;
}

.js-clock{
    display : relative;
    width : 300px;
    height: 200px;

}
.clock{
    position :absolute;
    top: 50%;
    left: 50%;
    font-size: 1050%;
    font-weight : 500;
    color: white;
    transform : translate(-50%, -50%);
    font-family : -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form, 
.greetings{
    display : none;
}

.showing{
    display: block;
}